<h1>Welcome to Greenbleez</h1>
<p>GREENBLEEZ offers you one-of-a-kind, handmade "green" children’s soft toys, outerwear and baby blankets, all  constructed from recycled and reclaimed sweaters, thus offering a fun and eco-wise alternative to buying products from the big box chain stores as well as supporting our local American economy. Our planet-friendly children and baby toys and apparel are cute, comfortable and truly unique.</p>
