<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="logo">
					<img src="/assets/logo.png" />
				</div>
				<div class="slider">
					<img class="static" src="/assets/greenbleez_1.jpg" />
				</div>
				<div class="information">
					<h1>Welcome to Greenbleez</h1>
					<p>GREENBLEEZ offers you one-of-a-kind, handmade "green" children’s soft toys, outerwear and baby blankets, all  constructed from recycled and reclaimed sweaters, thus offering a fun and eco-wise alternative to buying products from the big box chain stores as well as supporting our local American economy. Our planet-friendly children and baby toys and apparel are cute, comfortable and truly unique.</p>
				</div>
			</div>
		</div>
	</div>
</div>
