// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#index {

	.logo {
		display: block;
		width: 10em;
		margin: 5em auto 0;

		img {
			display: block;
			width: 100%;

		}
	}

	h1 {
		font-family: 'Lobster', cursive;
		text-align: center;
		font-size: 3.5em;
		margin-top: 1.5em;
	}

	.slider {
		margin-top: 1em;
		
		.static {
			position: relative;
			display: block;
			width: 10em;
			margin: auto;
		}
	}

	.information {
		text-align: center;
		margin-top: 4em;

		p {
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			font-size: 1.1em;
			line-height: 1.75em;
			padding: 2em 0;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
		}
	}

	.social {
		text-align: center;
		padding-top: 2em;

		a {
			font-size: 2.5em;
			margin: 0 .5em;
		}

		i {

		}
	}

	.mail {
		margin-top: 2em;

		#mc_embed_signup {
			background: transparent;
			text-align: center;

			h2 {
				text-align: center;
			}

			input {

			}

			form {
				text-align: center;
			}
		}
	}

	.left {
		position: absolute;
		left: 0;
		top: 0;
		width: 45%;
		height: 100%;
		background: url('/assets/geometry.png');
		background-size: 50%;
		background-position: center;
		background-repeat: repeat;
	}

	.right {
		position: absolute;
		top: 0;
		right: 0;
		width: 55%;
		height: 100%;
		background: url('/assets/green_cover.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}